[homing_override]
set_position_X:0
set_position_y:0
set_position_z:0
axes:xy
gcode:
	{% set HOME_CUR = 1 %}
	{% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
	{% set RUN_CUR = driver_config.run_current %}
	{% set HOLD_CUR = driver_config.hold_current %}

	G0 F36000
	G91
	G0 Z1 # move bed a litle bit to avoid scratch
	G90

	{% if params.X is defined %}
		SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8}
		G28 X
		SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
		BEEP I=1 DUR=100
		G1 X10
	{% endif %}

	{% if params.Y is defined %}
		SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9}
		G28 Y
		SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
		BEEP I=1 DUR=100
		G1 Y10
	{% endif %}

	{% if params.Z is defined %}
#        G90
#        G1 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]} F7800
#        G91

		G28 Z
		G1 Z10
		BEEP I=1 DUR=100
	{% endif %}

	{% if params.X is undefined %}
	{% if params.Y is undefined %}
	{% if params.Z is undefined %}

	SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.5
	G28 X
	BEEP I=1 DUR=100
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.settings['tmc2209 stepper_x'].run_current}
	G0 X10

	SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.5
	G28 Y
	BEEP I=1 DUR=100
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.settings['tmc2209 stepper_y'].run_current}
	G0 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]}

	SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.3
	G28 Z
	BEEP I=1 DUR=100
	SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer.configfile.settings['tmc2209 stepper_z'].run_current}
	G0 Z3

	{% endif %}
	{% endif %}
	{% endif %}
