[filament_switch_sensor runout]
pause_on_runout: False
runout_gcode:
	#SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
	{action_respond_info("RUNOUT: Filament runout")}
	PAUSE
insert_gcode:
	{action_respond_info("RUNOUT: Filament inserted")}
switch_pin: !PC1


#####################################################################
# 	Macro
#####################################################################
# [gcode_macro SET_FILAMENT_SENSOR]
# description: Sets the filament sensor on/off and save value to file
# rename_existing: SET_FILAMENT_SENSOR_BASE
# gcode:
#   {% if printer.save_variables.variables.filament_sensor is not defined %}
#     {% set filament_sensor = {params.SENSOR|string: params.ENABLE|int} %}
#   {% else %}
#     {% set filament_sensor = printer.save_variables.variables.filament_sensor %}
#     {% set _dummy = filament_sensor.update({params.SENSOR|string: params.ENABLE|int}) %}
#   {% endif %}
#   SET_FILAMENT_SENSOR_BASE SENSOR={params.SENSOR} ENABLE={params.ENABLE}
#   SAVE_VARIABLE VARIABLE=filament_sensor VALUE="{filament_sensor}"
#
# [gcode_macro _RESTORE_FILAMENT_SENSOR]
# description: Restore the filament sensor on/off state at klipper start
# gcode:
#   {% if printer.save_variables.variables.filament_sensor is defined %}
#     {% for sensor in printer.save_variables.variables.filament_sensor %}
#        SET_FILAMENT_SENSOR_BASE SENSOR={sensor} ENABLE={printer.save_variables.variables.filament_sensor[sensor]}
#     {% endfor %}
#   {% endif %}


[gcode_macro M8029]
gcode:
	{% if params.D is defined %}
		{% if (params.D|int)==1 %}
			SET_FILAMENT_SENSOR SENSOR=runout  ENABLE=1
		{% endif %}
		{% if (params.D|int)==0 %}
			SET_FILAMENT_SENSOR SENSOR=runout  ENABLE=0
		{% endif %}
	{% endif %}


######################################################################
# Filament Change
######################################################################
# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.
[gcode_macro M600]
description: Filament change
gcode:
	#SAVE_GCODE_STATE NAME=M600_state
	PAUSE
	G91
	G1 E-100 F600 #pull filament out


	[gcode_macro M603]
description: filament unlode
gcode:
    G92 E0
    G0  E15 F400
    G4  P1000
    G92 E0
    G1  E-80 F800


[gcode_macro M604]
description: filament lode
gcode:
    M83
    G1  E80 F400
